@media (max-width: 767px) {
	.content {
		padding: 15px;
		margin-top: 100px;
	}
}
@media (min-width: 768px) {

	#menu-bar .panel {
	margin-bottom: 0;
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	}

	#menu-bar li a {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}

	#navbar {
		float: left;
		width: 300px;
		height: 100%;
	}

	.content {
		margin-left: 300px;
		min-height: 100%;
	}

	.container {
		margin-left: 25px;
	}
}



